LABA 6/CLIENT/CLIENT/Connected Services/ServiceReference1/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ShowMarshrut">
        <s:complexType />
      </s:element>
      <s:element name="ShowMarshrutResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ShowMarshrutResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckReis">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Reis" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckReisResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckReisResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Checkbilet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Reis" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckbiletResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckbiletResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Zakazbilet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZakazbiletResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZakazbiletResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ShowMarshrutSoapIn">
    <wsdl:part name="parameters" element="tns:ShowMarshrut" />
  </wsdl:message>
  <wsdl:message name="ShowMarshrutSoapOut">
    <wsdl:part name="parameters" element="tns:ShowMarshrutResponse" />
  </wsdl:message>
  <wsdl:message name="CheckReisSoapIn">
    <wsdl:part name="parameters" element="tns:CheckReis" />
  </wsdl:message>
  <wsdl:message name="CheckReisSoapOut">
    <wsdl:part name="parameters" element="tns:CheckReisResponse" />
  </wsdl:message>
  <wsdl:message name="CheckbiletSoapIn">
    <wsdl:part name="parameters" element="tns:Checkbilet" />
  </wsdl:message>
  <wsdl:message name="CheckbiletSoapOut">
    <wsdl:part name="parameters" element="tns:CheckbiletResponse" />
  </wsdl:message>
  <wsdl:message name="ZakazbiletSoapIn">
    <wsdl:part name="parameters" element="tns:Zakazbilet" />
  </wsdl:message>
  <wsdl:message name="ZakazbiletSoapOut">
    <wsdl:part name="parameters" element="tns:ZakazbiletResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="ShowMarshrut">
      <wsdl:input message="tns:ShowMarshrutSoapIn" />
      <wsdl:output message="tns:ShowMarshrutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckReis">
      <wsdl:input message="tns:CheckReisSoapIn" />
      <wsdl:output message="tns:CheckReisSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Checkbilet">
      <wsdl:input message="tns:CheckbiletSoapIn" />
      <wsdl:output message="tns:CheckbiletSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Zakazbilet">
      <wsdl:input message="tns:ZakazbiletSoapIn" />
      <wsdl:output message="tns:ZakazbiletSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ShowMarshrut">
      <soap:operation soapAction="http://tempuri.org/ShowMarshrut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckReis">
      <soap:operation soapAction="http://tempuri.org/CheckReis" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Checkbilet">
      <soap:operation soapAction="http://tempuri.org/Checkbilet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Zakazbilet">
      <soap:operation soapAction="http://tempuri.org/Zakazbilet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ShowMarshrut">
      <soap12:operation soapAction="http://tempuri.org/ShowMarshrut" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckReis">
      <soap12:operation soapAction="http://tempuri.org/CheckReis" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Checkbilet">
      <soap12:operation soapAction="http://tempuri.org/Checkbilet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Zakazbilet">
      <soap12:operation soapAction="http://tempuri.org/Zakazbilet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://localhost:64057/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://localhost:64057/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>